<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expenditure</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <style>
        h1{
            background: steelblue ;
            height: 100px;
            text-align: center;
            font-size: 80px;
            padding: 0px;
            margin: 0px;
            color: ghostwhite;
        }
        .mv{
            width: 800px;
            height: 450px;
            margin: 20px;
            padding: 20px;
            background: lightseagreen ;
            color: ghostwhite;
            font-size: 20px;
        }
        hr {
            display: block;
            border-style: inset;
            border-width: 2px;
        }
        .button:hover {
            background-color: steelblue;
            padding: 10px;
        }
        input{
            background: #f1f1f1;
        }
    </style>
</head>
<body>
<h1  style=" border: 10px black"><bold>P</bold>aisa<bold>B</bold>achao</h1>
<hr style="color: black">



<h2 style=" margin: 20px; text-align:left; font-size: 40px;color: lightseagreen"><bold>Add your expenditure</bold></h2>
    <form action="/pages/expenditure" method="post" class="mv">
        <label><b>UserName  :</b></label><br> <input type="text" name="username"><br>
        <label><b>date  :</b></label><br><input type="text" name="date"><br>
        <label><b>money spent on food  :</b></label><br><input type="text" name="food"><br>
        <label><b>money spent on clothing  :</b></label><br><input type="text" name="clothing"><br>
        <label><b>money spent on travel  :</b></label><br><input type="text" name="travel"><br>
        <input type="submit" value="Submit" class="button" style="width: 330px ;margin: 10px;color: lightseagreen;">
    </form>
<h2 style=" margin: 20px; text-align:left; font-size: 40px;color: lightseagreen"><bold>Add username and date to see your expendiure on a particular date</bold></h2>
 <form action="/pages/expenditure/lol" method="get" class="mv" style="height: 250px" >
    <label><b>UserName  :</b></label><br> <input type="text" name="username"><br>
    <label><b>date  :</b></label><br><input type="text" name="date"><br>
    <input type="submit" value="Submit" class="button" style="width: 330px ;margin: 10px;color: lightseagreen;">
 </form>
<div class="container">
    <table class="table table-hover">
        <thead style=" color: lightseagreen ">
        <tr>
            <th>Food</th>
            <th>Clothing</th>
            <th>Travel</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{user.food}}</td>
            <td>{{user.clothing}}</td>
            <td>{{user.treavel}}</td>
            <td>{{user.total}}</td>
        </tr>

        </tbody>
</div>

</body>
</html>
