<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expenditure</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <style>
        h1{
            background: steelblue ;
            height: 100px;
            text-align: center;
            font-size: 80px;
            padding: 0px;
            margin: 0px;
            color: ghostwhite;
        }
        hr {
            display: block;
            border-style: inset;
            border-width: 2px;
        }
        .button:hover {
            background-color: steelblue;
        }
        input{
            background: #f1f1f1;
        }
        label{
            color:black;
        }
        .btn-group .button1 {
            background-color:lightseagreen; /* Green */
            border: 1px solid lightseagreen;
            color: ghostwhite;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            float: left;
            width: 480px;
        }
        .btn-group .button1:not(:last-child) {
            border-right: none; /* Prevent double borders */
        }
        .btn-group .button1:hover {
            background-color: steelblue;
        }
        .lol{
            margin-bottom: 100px;
        }

    </style>
</head>
<body>
<h1  style=" border: 10px black"><bold>P</bold>aisa<bold>B</bold>achao</h1>
<hr style="color: black">


<div class="btn-group">
    <a href="/pages/profile" class="button1">profile</a>
    <a href="/pages/chat" class="button1">BacahoTalk</a>
    <a href="/" class="button1">home</a>
</div>

<br><br><br><br><br>
<h2 style=" margin-top: 20px; text-align:left; font-size: 40px;color:ghostwhite;background: steelblue;"><bold>Add User Expenditure Details</bold></h2>

<form action="/pages/expenditure" method="post" >

    <div class="container-fluid" >
        <table class="table table-hover" class="lol">
            <thead style=" color: lightseagreen ">
            <tr>
                <th>Food</th>
                <th>Clothing</th>
                <th>Travel</th>
                <th>Entertainment</th>
                <th>Add</th>
            </tr>
            </thead>
            <tbody style="background: lightseagreen;">
            <tr>
                <td><input type="text" name="food"></td>
                <td><input type="text" name="clothing"></td>
                <td><input type="text" name="travel"></td>
                <td><input type="text" name="entertainment"></td>
                <td><input type="submit" value="Submit" class="button" style="width: 260px ;margin: 3px;color: lightseagreen;"></td>
            </tr>
            </tbody>
        </table>
    </div>

</form>



<br><br><br><br><br><br><br>

<h2 style=" margin-top: 20px; text-align:left; font-size: 40px;color:ghostwhite;background: steelblue;"><bold>Add username and date to see your expendiure on a particular date</bold></h2>


<form action="/pages/expenditure/lol" method="get"  style="height: 100px" >
    <div class="container-fluid" >
        <table class="table table-hover" class="lol">
            <thead style=" color: lightseagreen ">
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Date</th>
                <th>Fetch</th>
            </tr>
            </thead>
            <tbody style="background: lightseagreen;">
            <tr>
                <td><input type="text" name="year"></td>
                <td><input type="text" name="month"></td>
                <td><input type="text" name="date"></td>
                <td><input type="submit" value="Submit" class="button" style="width: 260px ;margin: 3px;color: lightseagreen;"></td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
<br>

<div class="container-fluid">
    <table class="table table-hover">
        <thead style=" color: lightseagreen ">
        <tr>
            <th>Food</th>
            <th>Clothing</th>
            <th>Travel</th>
            <th>Entertairment</th>
        </tr>
        </thead>
        <tbody style="margin: 30px">
        <tr>
            <td>{{user.food}}</td>
            <td>{{user.clothing}}</td>
            <td>{{user.travel}}</td>
            <td>{{user.entertainment}}</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
