<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <style>
        .heading{
            background: steelblue ;
            height: 100px;
            text-align: center;
            font-size: 80px;
            padding: 0px;
            margin: 0px;
            color: ghostwhite;
        }
        h1{
            background: lightseagreen ;
            height: 70px;
            text-align: center;
            font-size: 45px;
            padding: 0px;
            margin: 0px;
            color: ghostwhite;
        }
        .mv{
            width: 320px;
            padding: 10px;
            border: 30px black;
            margin: 0;
            background: #f1f1f1;
            height: 390px;
        }
        hr {
            display: block;
            border-style: inset;
            border-width: 4px;
        }
        .button1{
            background-color: white ;
            border: 2px solid lightseagreen;
            color:lightseagreen;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size:20px;
            margin: 4px 2px;
        }
        .button1:hover{
            background-color:lightseagreen;
            color :white;
            border: 0px;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
</head>
<body>
<h1  class=" heading"style=" border: 10px black"><bold>P</bold>aisa<bold>B</bold>achao</h1>
<hr>

<h1>Hello {{user.username}} {{user.password}}</h1>
<p>Hope we are able to help you in managing your expenses</p>
<p>Always <bold>remeber</bold> to add your expenditures in your table so that we can help you wholeheartedly</p>
<p>For any suggestions mail us at paisabachao@gmail.com</p>

<h2>Want to see your expenditure or add them</h2>
<hr style="  border-width: 1px;">
<a href="/pages/expenditure" class="button1">Money Manager</a>
<h2>Want some help ask it with our users and moderators and experts</h2>
<a href="/chat.html" class="button1">BachaoTalk</a>
</body>
</html>

