<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <style>
        .heading{
            background: steelblue ;
            height: 100px;
            text-align: center;
            font-size: 80px;
            padding: 0px;
            margin: 0px;
            color: ghostwhite;
        }
        h1{
            background: lightseagreen ;
            height: 70px;
            text-align: center;
            font-size: 45px;
            padding: 0px;
            margin: 0px;
            color: ghostwhite;
        }
        .mv{
            width: 320px;
            padding: 10px;
            border: 30px black;
            margin: 0;
            background: #f1f1f1;
            height: 390px;
        }
        hr {
            display: block;
            border-style: inset;
            border-width: 4px;
        }
        p{
            color:white;
            font-size: 20px;
        }
        .btn-group .button {
            background-color:lightseagreen; /* Green */
            border: 1px solid lightseagreen;
            color: ghostwhite;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            float: left;
            width: 450px;
        }
        .btn-group .button:not(:last-child) {
            border-right: none; /* Prevent double borders */
        }
        .btn-group .button:hover {
            background-color: steelblue;
        }

    </style>
</head>
<body>
<h1  class=" heading"style=" border: 10px black"><bold>P</bold>aisa<bold>B</bold>achao</h1>
<hr>

<h1 style="margin:30px">Hello {{user.username}}</h1>

<div class="btn-group" style="margin-top:20px">
    <a href="/pages/expenditure" class="button">MoneyManager</a>
    <a href="/chat.html" class="button">BachaoTalk</a>
    <a href="/" class="button">Home</a>
</div>
</body>
</html>

